<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Maps | {{ title }}</title>
    {% include 'style.njk' %}
  </head>
  <body data-style="winner">
    <header>
      <a href="{{ '/' | url }}"><strong>CX Technology</strong> - Data Maps</a>
    </header>
    {% include 'nav.njk' %}
    <main class="flow">
      <h1>{{ title | safe }}</h1>
      {{ content | safe }}
    </main>
    <footer>&copy; 2025 Thom made this</footer>
  </body>
</html>
