<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Maps | {{ title }}</title>
    {% include 'style.njk' %}
  </head>
  <body data-style="winner">
    <header>
      <div class="wrapper gutter"><a href="{{ '/' | url }}"><strong>CX Technology</strong> - Data Maps</a></div>
    </header>
    <div class="wrapper gutter">{% include 'nav.njk' %}</div>
    <main class="wrapper gutter flow">
      <h1>{{ title | safe }}</h1>
      {{ content | safe }}
    </main>
    <footer>
      <div class="wrapper gutter">&copy; 2025 Thom made this</div>
    </footer>
  </body>
</html>
