---
layout: '_layouts/base.njk'
title: Apple/Android Global Split
---

{% include 'map.njk' %}   
{% include 'table.njk' %}

<h2>References</h2>
<p>Data from <a href="https://worldpopulationreview.com/country-rankings/iphone-market-share-by-country">World Population Review</a></p>
<p>Map provided by <a href="https://simplemaps.com/resources/svg-world">simplemaps.com</a> and adapted by me.</p>
